@font-face {
    font-family: 'segment';
    src: url('./Seven-Segment.ttf');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.dynamicButton {
    width: 70px;
    height: 60px;
}

#startButton{
    width: 300px;
}

#hackingBackground {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    user-select: none;
}

.font-style {
    font-family: 'segment', sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
}

#buttonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#failed {
    background-color: darkred;
    top: calc(50% + 80px);
}

#finished {
    top: calc(50% + 80px);
}

#waiting {
    animation: none;
    top: calc(50% + 80px);
}

.timerDisplay {
    position: absolute;
    color: #333;
    margin-top: 5px;
    text-align: center;
    width: 100px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-image: url('./pngwing.png'), linear-gradient(#688e4b, #4b5320); /* Adjusted the gradient colors to be lighter */
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 20px;
    background-color: #4b5320;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

p {
    background-image: url('./pngwing.png'), linear-gradient(#688e4b, #4b5320); /* Adjusted the gradient colors to be lighter */
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f0f0;
    background-color: #4b5320;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
    animation: blink 1s infinite;
    z-index: 1;
}